%h2
  %a{:href => "/people/#{data.graph_id}"}= data.display_name
- if !data.constituencies.empty?
  - seat_incumbency = data.seat_incumbencies.select(&:current?).first
  - unless seat_incumbency.nil?
    %p= "#{t('.current_mp_for')} #{seat_incumbency.constituency.name}"
- if !data.parties.empty?
  - party_membership = data.party_memberships.select(&:current?).first
  - unless party_membership.nil?
    %p= party_membership.party.name