-if people.empty?
  %ol.list--block
    %li
      .list--details
        %p
          = "#{I18n.t('no_content.empty_list.members.description')}" 
          = params[:letter].nil? ? "" : "#{I18n.t('no_content.empty_list.members.for')} '#{params[:letter].upcase}'"
-else
  %ol.list--block
    - people.each do |person|
      - if person.respond_to?(:graph_id)
        %li
          .list--details
            %h2
              %a{:href => "/people/#{person.graph_id}"}= person.display_name
            - if !person.statuses[:house_membership_status].empty? && !person.statuses[:house_membership_status].include?('Current MP')
              %p= person.statuses[:house_membership_status].join(' and ')
            - if !person.constituencies.empty?
              - seat_incumbency = person.seat_incumbencies.select(&:current?).first
              - unless seat_incumbency.nil?
                %p= "#{I18n.t('pugin.cards.person-list.current_mp_for')} #{seat_incumbency.constituency.name}"
            - if !person.parties.empty?
              - party_membership = person.party_memberships.select(&:current?).first
              - unless party_membership.nil?
                %p= party_membership.party.name
