.card
  - if Pugin::Feature::Bandiera.show_list_images?
    %figure.avatar--round
      %a{ href: "/people/#{member.graph_id}", aria: { hidden: "true" }, tabindex: "-1" }
        %picture
          - if member.image_id != "placeholder"
            %img{ src: "#{ENV['IMAGE_SERVICE_URL']}/#{member.image_id}.jpeg?crop=CU_1:1&width=186&quality=80", alt: "#{member.display_name}" }
          - else
            %img{ src: "#{Pugin::ASSET_LOCATION_URL}/#{Pugin::ASSET_VERSION}/images/placeholder_members_image.png", alt: "" }

  .card__details
    %h2
      %a{href: "/people/#{member.graph_id}"}= member.display_name

    -# Currently only takes the most recent incumbency as part of that parliamentary period
    - parliament_incumbency = member.most_recent_seat_incumbency
    - current_incumbency = member.current_seat_incumbency

    - if @parliament # parliament member
      - if parliament_incumbency&.constituency && parliament_incumbency&.start_date
        %p
          = "#{parliament_incumbency.constituency.name} from #{l(parliament_incumbency.start_date, format: :default)}"
          = parliament_incumbency&.end_date.nil? ? "#{I18n.t('shared.to_present')}" : "- #{l(parliament_incumbency.end_date, format: :default)}"
        %p= member&.parties&.first&.name

    - elsif current_incumbency&.constituency # current member
      %p= "#{I18n.t('pugin.people.list.member.mp_for')} #{current_incumbency&.constituency&.name}"
      %p= member.try(:current_party).try(:name)

    - else # former member
      %p= member.statuses[:house_membership_status].join(' and ')
