!!! 5
%html{lang:'en'}
  %head
    %title= content_for(:title).nil? ? I18n.t('pugin.layouts.pugin.website_brand') : content_for(:title) + ' - ' + I18n.t('pugin.layouts.pugin.website_brand')
    %link{rel: 'stylesheet', href: "#{Pugin::ASSET_LOCATION_URL}/#{Pugin::ASSET_VERSION}/stylesheets/main.css" }
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'IE=edge'}
    %link{rel: 'shortcut icon', type: 'image/x-icon', href: "#{Pugin::STATIC_ASSET_LOCATION_URL}/favicon.ico"}
    - if ENV['GTM_KEY']
      = render partial: 'pugin/javascript/google_tag_manager'
    - unless Pugin.alternates.empty?
      / /==========================\
      / [ See below for data views ]
      / \==========================/
    - Pugin.alternates.each do |alternate|
      %link{rel: 'alternate', type: alternate[:type], href: alternate[:href]}
  %body.no-js
    - if ENV['GTM_KEY']
      = render partial: 'pugin/javascript/google_tag_manager_noscript'
    = render partial: 'pugin/elements/skip-content'
    = render partial: 'pugin/components/status', locals: { status: nil } if Pugin::Feature::StatusBanner.enabled?
    = render 'pugin/components/header'
    = render partial: 'pugin/components/navigation-main' if Pugin::Feature::TopNavigation.enabled?
    %main
      = yield
    = render 'pugin/components/footer'
    %script{src: "#{Pugin::ASSET_LOCATION_URL}/#{Pugin::ASSET_VERSION}/javascripts/main.js"}
