!!! 5
%html{lang:'en'}
  %head
    %title Parliamentary Digital Service
    %link{rel: 'stylesheet', href: "#{Rails.application.secrets.asset_location_url}/stylesheets/main.css" }
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = favicon_link_tag 'pugin/favicon.ico'
    - if Rails.application.secrets.gtm_key
      = render partial: 'pugin/javascript/google_tag_manager'
  %body.no-js
    - if Rails.application.secrets.gtm_key
      = render partial: 'pugin/javascript/google_tag_manager_noscript'
    %a#top
    = render 'pugin/components/header'
    = render partial: 'pugin/components/status', locals: { status: nil }
    %main#content
      .container--full-grid
        .row--indent-full
          = yield
          .block
            %a{href: "#top"} Back to top
    = render 'pugin/components/footer'
    %script{src: "#{Rails.application.secrets.asset_location_url}/javascripts/main.js"}
