!!! 5
%html{lang:'en'}
  %head
    %title= content_for?(:title) ? content_for(:title) + ' - ' + t('.website_brand') : t('.website_brand')
    %link{rel: 'stylesheet', href: "#{ENV['ASSET_LOCATION_URL']}/#{Pugin::ASSET_VERSION}/stylesheets/main.css" }
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'IE=edge'}
    = favicon_link_tag 'pugin/favicon.ico'
    - if Rails.application.secrets.gtm_key
      = render partial: 'pugin/javascript/google_tag_manager'
  %body.no-js
    - if Rails.application.secrets.gtm_key
      = render partial: 'pugin/javascript/google_tag_manager_noscript'
    = render partial: 'pugin/elements/skip-content'
    = render 'pugin/components/header'
    = render partial: 'pugin/components/status', locals: { status: nil }
    %main#content
      .container--full-grid
        = yield
    = render 'pugin/components/footer'
    %script{src: "#{ENV['ASSET_LOCATION_URL']}/#{Pugin::ASSET_VERSION}/javascripts/main.js"}
