!!! 5
%html{lang:'en'}
  %head
    %title Parliamentary Digital Service
    -#%link{rel: 'stylesheet', href: 'http://CDN.com/app.css' }
    = stylesheet_link_tag 'pugin/pugin', media: 'all', 'data-turbolinks-track' => true
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = favicon_link_tag 'pugin/favicon.ico'
    - if Rails.application.secrets.gtm_key
      = render partial: 'pugin/javascript/google_tag_manager'
  %body
    - if Rails.application.secrets.gtm_key
      = render partial: 'pugin/javascript/google_tag_manager_noscript'
    %main#content
      %a#top
      = render 'pugin/components/header'
      = render partial: 'pugin/components/status', locals: { status: nil }
      .c-fg
        .row--indent-full
          = yield
      .footer-push
    = render 'pugin/components/footer'
    = javascript_include_tag 'pugin/pugin', 'data-turbolinks-track' => true
    -#%script{src: 'http://CDN.com/app.js'}
