%ul
  %li= link_to constituency.name, constituency_path(constituency.graph_id)
<<<<<<< HEAD
  %li= constituency.current? ? "#{t('current').capitalize} #{t('constituency')}" : "#{t('former').capitalize} #{t('constituency')}"
=======
  %li= constituency.current? ? "#{t('current').capitalize} #{t('constituency')}" : "#{t('former').capitalize} #{t('constituency')}"
>>>>>>> added new translations, first implementation of some lists, updated letter navigation
