- person_type = data.house_incumbencies.empty? ? "member" : "lord"
%li.list__item
<<<<<<< HEAD
  = render partial: "pugin/people/list/#{person_type}/#{person_type}", locals: { data: local_assigns.fetch(:data, []) }
=======
  = render partial: "pugin/people/list/#{person_type}/#{person_type}", locals: { data: local_assigns.fetch(:data, []) }
>>>>>>> added new translations, first implementation of some lists, updated letter navigation
